.primary_color{
    -fx-background-color: #181818;
}
.secondary-color{
    -fx-background-color: #121212;
}
.selected{
    -fx-border-color:#1ED760;
    -fx-border-width: 0 0 0 5;
}
.top-border{
    -fx-border-color: #A1A1A1;
    -fx-border-width: 1 0 0 0;
}
.search-container{
    -fx-border-color: #808080;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 100;
    -fx-text-fill: #fff;
}
.text-search:hover{
    /*-fx-border-color: #fff;*/
    -fx-text-fill: #fff
}
.upgrade-button{
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: #fff;
    -fx-border-radius: 50;
}
.mouse-moved:hover{
    -fx-border-color:#1ED760;
    -fx-border-width: 0 0 0 5;

}
.click:hover{
    -fx-background-color: #fff;
}
.borderkhungdash{
    -fx-border-color: #fff;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 5;
}
.status-bar.hidden{
    -fx-opacity: 0;
}
.mousemoved:hover{
    -fx-border-color:#121212;
    -fx-border-width: 0 0 0 5;
}

/*Test Music Tag*/

/*.music-tag {*/
/*    -fx-background-color: #3498db;*/
/*    -fx-padding: 20px;*/
/*    -fx-margin-left: 10px;*/
/*    -fx-border-radius: 1px;*/

/*}*/
.music-tag:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

}
.tag-name {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: 'Times New Roman';
}


.zoom-button:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
.font{
    -fx-font-family:"Roboto Light";
}
.album-label{
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
    -fx-font-family: 'Times New Roman';
    -fx-border-radius: 50;
    -fx-border-color: #fff;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}
.nothover{
    -fx-background-color: transparent;

}

/*menu items*/
.menu-item {
    -fx-text-fill: #333;
    -fx-background-color: #f4f4f4;
}

.menu-item:hover {
    -fx-background-color: #ddd;
}
.image{
    -fx-border-color: gray;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-padding: 5px;
}
.art-tag{
    -fx-background-color: lightgray;
}
.addplaylist{
    -fx-border-color: #808080;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 5;
    -fx-text-fill: #fff;
}
.addplaylist:hover{
    -fx-border-color: #fff;
}
